.home {
  &__title {
    margin-bottom: 1rem;
    text-align: center;
  }

  &__search {
    margin-bottom: 2rem;
    width: 290px;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;

  }
}